fieldset {
    margin-bottom: 1.1em;
  }
  input[type=checkbox] {
    background-color: rgb(0, 42, 106);
    color: brown;
    margin-right: 15px;
    margin-left: 10px;
  }
  input[type=text] {
    margin-left: 10px;
  }
  input[type=select] {
    margin-left: 10px;
  }