#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-image: url("https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

.homePictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navHome {
  background-color: rgb(236, 255, 196);
  border: 2px solid rgb(9, 68, 11);
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navHome li{
  font-size: 20px;
}
.navHome a{
  color: rgb(9, 59, 20);
}