/* Styling for the Add Movie Form */
.addForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addForm input[type="text"],
.addForm input[type="number"],
.addForm textarea {
color: #007bff;
border: 2px solid #e100ff;
border-radius: 5px;
box-sizing: border-box;
}

.addForm button {
display: block;
background-color: #aeff00;
color: #007bff;
font-weight: 900;
cursor: pointer;
}

.addForm button:hover {
background-color: hsl(102, 100%, 50%);
}
  