body {
  background-image: url("https://plus.unsplash.com/premium_photo-1693809472042-b3764cdefaa0?q=80&w=1832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.llama_box {
  margin: 20px;
  padding: 20px;
  background: rgba(0, 0, 0, .40);
}
h1, h2, h3 {
  font-family: 'Protest Strike', sans-serif;
  margin: 0px;
  color: white;
  text-shadow: 3px 2px 1px rgba(0, 0, 0, 3);
}
h1 {
  color: rgb(255, 225, 136);
}
h2 {
  color: rgb(194, 211, 232);
}
h3 {
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
