
body {
    background:url('https://images.unsplash.com/photo-1578926375605-eaf7559b1458?q=80&w=1963&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "kanit";
    font-weight: 400;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}